.login {
  width: 64.8rem;
  /* height: 38.2rem; */
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(39, 35, 67, 0.12);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
}
.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem 0;
  /* height: 100vh; */
}
.form-title {
  font-weight: 600;
  color: #272343;
  font-size: 3.2rem;
}

.form-email,
.form-passowrd {
  background: #f0f2f3;
  opacity: 0.7;
  border-radius: 8px;
  height: 5rem;
  width: 58.4rem;

  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  color: #333;
  padding: 0 2.2rem;
  border: none;
}
.form-email::placeholder,
.form-passowrd::placeholder {
  color: #9a9caa;
}
.form-email {
  margin-top: 2.4rem;
}
.form-passowrd {
  margin-top: 1.6rem;
}
.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem 0;
}
.from-checkbox input {
  background: #ffffff;
  /* Gray Scales/Gray */

  border: 1.5px solid #9a9caa;
  border-radius: 40px;
}
.from-checkbox label {
  font-weight: 400;
  font-size: 1.4rem;
  color: #636270;
  margin-left: 8px;
}
.form-forget a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #007580;
  text-decoration: none;
}

.form-signup {
  display: flex;
  justify-content: center;
  padding: 2.4rem 0;
}
.form-signup span {
  font-weight: 400;
  font-size: 1.4rem;
}
.form-signup a {
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  color: #007580;
}
.signin-button {
  background: #029fae;
  border-radius: 8px;
  border: none;
  padding: 1.4rem 2.4rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: inherit;
  margin-top: 2rem;
}
/* .eye-form {
  width: 2.1rem;
  height: 1.55rem;
} */
.signin-row {
  margin-left: 1.6rem;
}
.label {
  margin-right: auto;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  color: #272343;
}
.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first,
.last {
  background: #f0f2f3;
  margin-top: 1.6rem;
  opacity: 0.7;
  border-radius: 8px;
  height: 5rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  color: #333;
  padding: 0 2.2rem;
  width: calc(54.4rem / 2);
  border: none;
}
.labelFirst,
.labelLast {
  display: block;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  color: #272343;
  text-align: left;
}
