* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
}
.text-alert {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  color: rgb(221, 33, 33);
  margin-right: auto;
  text-transform: capitalize;
}
